
* {
  font-family: "Lato", sans-serif;
}
body {
  color: #2d3c49;
  font-weight: 200;
  margin: 20px;
  min-width:300px;
  width: auto !important;
  width:300px;
}
ul {
  width: 100%;
  padding: 0;
  list-style: none;
  list-style-type: none;
}
header {
  text-transform: uppercase;
  color: #bababa;

}
header h1 {
  font-size: 2.5em;
  text-align: right;
}
header h4 {
  font-size: 1.25em;
  text-align: right;
}
header img{
  padding-top: 25px;
  max-width: 75px;
  float: left;
  text-align: left;
}
section img {
  width: 100%;
  display: block;
  height: auto;
}
.featured {
  width: 100%;
  height: auto;
  margin: 0, auto;
}
.featured h2 {
  text-align: left;
  font-size: 2em;
  font-weight: 400;
  color: #7d97ad;
}
.featured_item {
  display: inline;
  list-style: none;
}
.featured_item h3 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 400;
  color: #7d97ad;
}
.featured_item img {
  width: 100%;
  padding:3px;
  border:1px solid #2d3c49;
  background-color:#bababa;
}
.featured_item img:hover{
  background-color:#7d97ad;
}
footer p {
  text-align: right;
}
@media only screen and (max-width: 768px) {
  header img{
    padding-top: 20px;
    max-width: 65px;
  }
  header h1 {
    font-size: 2.25em;
  }
  header h4 {
    font-size: 1.1em;
  }
  .featured h2 {
    font-size: 2em;
  }
  .featured_item h3 {
    font-size: 1.75em;
  }
  footer p {
    font-size: 1em;
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  header img{
    padding-top: 20px;
    max-width: 60px;
  }
  header h1 {
    font-size: 2em;
  }
  header h4 {
    font-size: 1em;
  }
  .featured h2 {
    font-size: 1.75em;
  }
  .featured_item h3 {
    font-size: 1.50em;
  }
  footer p {
    font-size: 1em;
    text-align: center;
  }
}
@media only screen and (max-width: 500px) {
  header img{
    padding-top: 20px;
    max-width: 55px;
  }
  header h1 {
    font-size: 1.75em;
  }
  header h4 {
    font-size: 0.85em;
  }
  .featured h2 {
    font-size: 1.50em;
  }
  .featured_item h3 {
    font-size: 1.25em;
  }
  footer p {
    font-size: 0.75em;
    text-align: center;
  }
}
@media only screen and (max-width: 360px) {
  header img{
    padding-top: 15px;
    max-width: 50px;
  }
  header h1 {
    font-size: 1.5em;
  }
  header h4 {
    font-size: 0.75em;
  }
  .featured h2 {
    font-size: 1.25em;
  }
  .featured_item h3 {
    font-size: 1em;
  }
  footer p {
    font-size: 0.75em;
    text-align: center;
  }
}




